body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main {
  display: flex;
  flex-direction: column;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .5rem;
}

.log-window h2 {
  text-align: center;
}

#hints {
  text-align: center;
  margin: .5rem;
}

.boards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3vw;
}

.board {
  height: 400px;
  width: 400px;
  background: yellow;
  display: flex;
  flex-wrap: wrap;
}

.cell {
  height: 40px;
  width: 40px;
}

.water {
  background: rgb(0, 80, 250);
}

.water:hover {
  background: rgb(0, 80, 200);
}

.fog-of-war {
  background: rgb(100, 100, 100);
}

.fog-of-war:hover {
  background: rgb(120, 120, 120);
}

.future-ship,
.future-ship:hover {
  background: rgb(120, 200, 120);
}

.wrong-placement,
.wrong-placement:hover {
  background: rgb(250, 140, 140);
  transition: 0.20s;
}

.ship,
.ship:hover {
  background: rgb(200, 200, 80);
  transition: 0.20s;
}

.enemy-ship,
.enemy-ship:hover {
  background: rgb(250, 20, 20);
  transition: 0.20s;
}

.hit,
.hit:hover {
  background: rgb(250, 150, 50);
}

.miss,
.miss:hover {
  background: rgb(250, 150, 200);
}

.sunk,
.sunk:hover {
  background: rgb(250, 100, 0);
}

.around-sunk,
.around-sunk:hover {
  background: rgb(120, 80, 250);
}

#log {
  height: 17ch;
  width: 40ch;
  overflow-y: scroll;
}

.log-player-missed {
  color: rgb(80, 100, 100);
}

.log-player-damaged {
  color: rgb(100, 120, 220);
}

.log-player-destroyed {
  color: rgb(20, 150, 20);
}

.log-computer-missed {
  color: rgb(130, 130, 20);
}

.log-computer-damaged {
  color: rgb(250, 80, 20);
}

.log-computer-destroyed {
  color: rgb(250, 20, 20);
}

.display-none {
  display: none;
}
